OCI = docker
TAG = package
ENV_FILE = lib/container.env
BUILD_ARGS = --build-arg AMW_WORKERS=5 --build-arg AMW_USERNAME=amusewiki --build-arg AMW_PASSWORD=changeme

PODMAN_HTTP_PORT = 8080
PODMAN_HTTPS_PORT = 8443

POST_SETUP = 

REMOTE_TAR = https://gitlab.com/rojenzaman/amusewiki-docker-stack/-/raw/main/amusewiki.tar

# CONTAINERLESS BACKUP
AMUSEWIKI_HOST = localhost
AMUSEWIKI_HOST_DIR = /var/lib/amusewiki
AMUSEWIKI_NGX_PATH = /etc/nginx/sites-enabled/amusewikidebian
AMUSEWIKI_HOST_DB = /var/lib/amusewiki/sqlite.db
#AMUSEWIKI_HOST_DB = /var/lib/dbconfig-common/sqlite3/amusewiki/amusewiki
AMUSEWIKI_RSYNC_ARG = 
#--exclude '*.pdf'
POST_CONTAINERLESS_BACKUP = lib/post-containerless-backup.sh
