OCI = docker
TAG = git
BUILD_ARGS = --build-arg AMUSE_BUILD_DOMAIN=amusewiki.localdomain --build-arg AMUSE_CLONE_COMMAND='git clone https://github.com/melmothx/amusewiki.git /var/lib/amusewiki'

PODMAN_HTTP_PORT = 8080
PODMAN_HTTPS_PORT = 8443

POST_SETUP = lib/post-setup.sh

REMOTE_TAR = https://gitlab.com/rojenzaman/amusewiki-docker-stack/-/raw/master/amusewiki.tar
